<side-menu></side-menu>
<div class="row mt-3">
    <div class="col-2">

    </div>
    <div class="col-10">
        <h1>Standalone component - page</h1>
        <hr>
        <div class="col">
            <div class="row">
                <p>Este componente no necesita ser importando en modulos</p>
                <p>Es porque es su propio modulo</p>

            </div>
            <div class="row">
                <counter-alone [counter]="25"></counter-alone>
            </div>

        </div>
    </div>
</div>