<div class="row mt-2">
    <div class="col-2"></div>
    <div class="col">
        <h3>Listado de propiedades</h3>
        <hr>
    </div>
</div>

<div class="row mt-2">
    <div class="col-2"></div>
    <div class="col">
        <div class="row">
            <!-- Houses -->
            <div *ngFor="let house of houses" class="col-4 mb-2">
                <div class="card">
                    <mini-map [lngLat]="house.lngLat"></mini-map>
                    <div class="card-body">
                        <h5 class="card-title">{{house.title}}</h5>
                        <p class="card-text">{{house.description}}</p>
                    </div>
                </div>

            </div>
            <div class="col-4 mb-2">
                <counter-alone [counter]="30"></counter-alone>
            </div>
        </div>
    </div>
</div>