#map {
    width: 100vw;
    height: 100vh;
}

.floating-range {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

.floating-content {
    display: flex;
    align-items: center;
}