<div id="map" #map></div>

<div class="floating-range p-2">
    <div class="floating-content">
        <button class="btn btn-primary" (click)="zoomOut()">-</button>
        <input class="form-range px-2" type="range" min="-2" max="18" [value]="zoom" (input)="zoomChange(zoomInput.value)" #zoomInput>
        <button class="btn btn-primary" (click)="zoomIn()">+</button>
    </div>
    <span class="form-label">
        zoom:{{zoom | number:'2.2-2'}}
        <br>
        Lng-Lat: ({{lng}} , {{lat}})
    </span>
</div>