<div id="map" #map></div>

<ul class="list-group">
    <li *ngFor="let colorMarker of markers; let i=index" [ngStyle]="{backgroundColor:colorMarker.color}" class="list-group-item" (dblclick)="deleteMarker(i)" (click)="toFly(colorMarker.marker)">
        marker {{i+1}}
    </li>
</ul>

<button class="btn btn-primary" (click)="createMarker()">
    + Agregar marcador
</button>